.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input[type="text"] {
  padding: 0.7rem;
  max-width: 400px;
  width: 60%;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: white;
}
.button[type="submit"] {
  padding: 0.7rem 1.3rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/*button[type="submit"]:hover {
}*/
