.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page p {
  
    font-weight: 500;
    margin: 1rem ;
    padding: 1rem;
    line-height: 2.5rem;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    border-radius: 20px;
    max-width: 80ch;
  }
  
  .page img {
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    border-radius: 20px;
    height: 370px;
  }